
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    
}

.navegation {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

header {
    background-color: rgb(96, 70, 145);
    position: relative;
    
}
.redes {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.redes-var {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.redes-1 {
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.redes-1 a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
}

.redes-1 a:hover {
    color: #e0e0e0;
}

.icon1 {
    margin-right: 5px;
}

.icon2 {
    margin-right: 5px;
}

nav {
    background-color: #8bdf01;
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.ico {
    display: block;
    margin: 0;
    height: 24px;
}

.logo img {
    height: 40px;
    margin-top: 5px;
    margin-left: 20px;
}

.logo {
    display: flex;
}

.nav-1 {
    display: flex;
    margin-right: 1px;
    align-items: center;
    height: 100%;
    transition: transform .5s;
}

main {
    position: relative;
    background-color: #f3f3f3;
    border-radius: 8px;
    width: 100%;
    padding: 0;
}

.enlace {
    list-style: none;
    margin-left: 30px;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(0);
}

.enlace:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(90deg);
}

.menu_nesting {
    list-style: none;
    clip-path: var(--clip);
    transition: clip-path .3s;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: #8bdf01;
    margin-bottom: 0;
    z-index: 1000;
}

nav .menu_nesting,
nav .menu_nesting ul {
    padding-inline-start: 0 !important;
}

.arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_link {
    color: #000000;
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu_link:hover {
    background-color: #8bdf01;
}

.menu_link--inside {
    padding: 10px 15px 10px 15px;
}

.menu_link--inside:hover {
    background-color: #7fce00;
}

.menu_hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu_img {
    display: block;
    width: 36px;
}

.d-block {
    height: 583px;
}

footer {
    background-color: #000000;
    width: 100%;
    padding-bottom: 40px;
    font-family: 'Lato', sans-serif;
    margin-top: auto;
}

.direc-2 {
    display: grid;
    grid-template-areas:
        "a a a a"
        "b c d e"
        "b c d e";
    grid-column-gap: 1em;
    margin-left: 30px;
    margin-right: 30px;
}

.direc {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.direc-1 p {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.direc-1 a {
    color: azure;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.direc-1 a:hover {
    color: #a5a5a5;
}

.num {
    font-size: 15px;
}

.wsp {
    position: fixed;
    left: 20px;
    bottom: 30px;
    z-index: 1000;
}

.wsp img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.footer-tienda {
    bottom: 0;
    width: 100%;
    background-color: #111;
    margin-top: auto;
    font-family: 'Lato', sans-serif;
}

.row-footer {
    padding: 3em 0 3em 0;
    text-align: center;
}

.color-text-footer {
    color: #999;
}

.posicion-text-footer {
    text-align: left;
    margin: 0;
    margin-top: .8rem;
    font-size: 15px;
    line-height: 1.8em;
}

.rowgeneralfooter {
    --bs-gutter-x: 0rem !important;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.img-footer {
    display: flex;
    margin: 0 auto;
    padding-bottom: .5em;
}

.text-footer-img {
    text-align: center;
}

.descri-footer {
    color: white;
}

.des-footer {
    font-weight: bold;
}

.enlace {
    text-decoration: none;
    color: #999;
}

.divider-footer {
    border-top: 1px solid #363636;
}

.txt-copy {
    text-align: center;
    font-size: 12px;
}

.title-footer {
    font-weight: bold;
    font-size: 17px;
}

.icowspfooter {
    margin-right: 5px;
}

.container-i {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}



@media (max-width:658px) {
    .redes-1 {
        
        margin-right: 14px;
        
    }

    .redes-var{
        margin-left: 14px;
    }

    .redes {
        justify-content: space-between;
    }
}
@media (max-width:1164px) {
    .menu_hamburguer {
        display: flex;
    }
    .enlace {
        --clip: 0;
        overflow: ;
        margin-left: -30px;
        padding-left: 30px;
        margin-bottom: -20px;
        
    }

    .enlace-active{
        --transform: rotate(0);
        --background: #8bdf01;
    }

    .enlace-show {
        background-color: var(--background);
    }

    .nav-1 {
        overflow: hidden;
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 90px;
        bottom: 0;
        right: 0;
        background-color: #74b905;
        overflow-y: auto;
        display: none;
        grid-auto-rows: max-content;
        z-index: 1000;
    }
    .menu_link {
        padding: 25px 0;
        padding-left: 30px;
        
        height: auto;
    }

    .arrow {
        margin-left: auto;
        margin-right: 20px;
    }
    .menu_nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translatey(0);
        background-color: #74b905;
        height: 0;
        transition: height .3s;
    }
    .menu_link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #000000;
        
    }

    .d-block  {
        height:400px;
    }

    .direc-2 {
        display: grid;
    grid-template-areas: 
            "a "
            "b "
            "c";
            grid-column-gap: 1em;
            margin-left: 30px;
            margin-right: 30px;       
    }

    main {
        height: 400px;
    }

    
}